<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head(title='Login Error')"></head>
<body>
  <div class="container m-3">
    <h1>Đây là lỗi 405. Method not allowed</h1>
    <table class="table">
      <tr>
        <td>Date</td>
        <td th:text="${timestamp}" />
      </tr>
      <tr>
        <td>Path</td>
        <td th:text="${path}" />
      </tr>
      <tr>
        <td>Error</td>
        <td th:text="${error}" />
      </tr>
      <tr>
        <td>Status</td>
        <td th:text="${status}" />
      </tr>
      <tr>
        <td>Message</td>
        <td th:text="${message}" />
      </tr>
      <tr>
        <td>Exception</td>
        <td th:text="${exception}" />
      </tr>
      <tr>
        <td>Trace</td>
        <td>
          <pre th:text="${trace}" />
        </td>
      </tr>
    </table>
  </div>  
</body>
</html>