<!DOCTYPE html>
<html lang="en">

<head>
  <title>Uploading file</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <h1>Report a bug</h1>

  <form th:action="@{/bug}" th:object="${bugRequest}" method="post" enctype="multipart/form-data">
    <table>
      <tr>
        <td>Name</td>
        <td><input type="text" th:field="*{title}" /></td>
      </tr>
      <tr>
        <td>Status</td>
        <td><select name="status">
            <option th:each="status : ${T(vn.techmaster.demoupload.model.Status).values()}" th:value="${status}"
              th:text="${status.displayValue}"></option>
          </select></td>
      </tr>
      <tr>
        <td>select photos</td>
        <td><input type="file" id="photos" th:field="*{photos}" multiple /></td>
      </tr>
      <tr>
        <td><input type="submit" value="Submit" /></td>
      </tr>
    </table>
  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(() => {
      if (window.File && window.FileList && window.FileReader) {
        $("#photos").on("change", e => {
          let files = Array.from(e.target.files);
          console.log(files.length);
          files.forEach((f, index) => {
            let fileReader = new FileReader();
            fileReader.onload = (e => {
              let file = e.target;
              $("<span class=\"pip\">" +
                "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                "<br/><span class=\"remove\">Remove image</span>" +
                "</span>").insertAfter("#photos");

              $(".remove").click(function () {
                $(this).parent(".pip").remove();
                files.splice(index, 1);
                console.log(files.length);
              });
            });
            fileReader.readAsDataURL(f);
          });

        });
      } else {
        alert("Your browser doesn't support to File API")
      }
    });
  </script>
</body>

</html>