<!DOCTYPE html>
<html lang="en">

<head th:replace="layout :: head(title='Login Error')"></head>

<body>
  <div class="container m-3">
    <h1>Lỗi khi login bạn ơi</h1>
    <p id="demo"></p>
  </div>
  <script>
    // Set the date we're counting down to
    var countDownDate = new Date().getTime() + 5000;

    // Update the count down every 1 second
    var x = setInterval(function () {

      // Get today's date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = countDownDate - now;

      var seconds = Math.floor(distance / 1000);

      // Display the result in the element with id="demo"
      document.getElementById("demo").innerHTML = seconds + " s";

      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
        window.location.replace("/login");
      }
    }, 200);
  </script>
  <div th:replace="layout :: footer"></div>
</body>

</html>