<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${user.fullname} + '\'s micro blog'"></title>
  <style>
    form {
      display: inline;
    }
  </style>
</head>
<body>
  <h1 th:text="${user.fullname} + '\'s micro blog'"></h1>
  <a href="/post">New Post</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/logout">Logout</a>

  <h1 th:text="${post.title}"></h1>
  <em th:text="${#temporals.format(post.lastUpdate, 'dd-MMM-yyyy')}"></em>
  <p th:text="${post.content}"></p>
  <hr>

  <form action="#" th:action="@{/post/delete}" method="post">
    <input type="hidden" name="post_id" th:field="${post.id}">
    <button type="submit">Delete</button>
  </form>
  <form action="#" th:action="@{/post/edit}" method="post">
    <input type="hidden" name="post_id" th:field="${post.id}">
    <button type="submit">Edit</button>
  </form>
</body>
</html>