<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 th:text="${appName}"></h1>
        </div>
        <ul class="d-flex">
            <li th:each="book: ${books}" class="d-flex flex-column align-items-center">
                <img th:attr="src=@{'/images/' + ${book.id} + '.jpg'}, alt=${book.title}" />
                <span th:text="${book.title + ' : ' + book.author}"></span>
            </li>
        </ul>
    </div>
</body>

</html>