<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 th:text="${'Hi ' + login_name}"></h1>
  <ul th:each="authority : ${authorities}">
    <li th:text="${authority.getAuthority()}"></li>
  </ul>
  <a href="#" th:href="@{/logout}" th:if="${login_name != ''}" th:text="${'Log out (' + login_name + ')'}"></a>
  <a href="#" th:href="@{/login}" th:unless="${login_name != ''}" th:text="Login"></a>
  
  <br><br><a href="#" th:href="@{/book}" th:if="${login_name != ''}">book list</a>
  
</body>
</html>