<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base-layout}">

<head>
    <title>About us</title>
</head>

<body>
    <div layout:fragment="content">
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>About us</h1>
                        <p>We as techmaster - Learning for Job</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>