<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${user.fullname} + '\'s micro blog'"></title>
</head>
<body>
  <h1 th:text="${user.fullname} + '\'s micro blog'"></h1>
  <a href="/post">New Post</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/logout">Logout</a>

  <ul>
    <li><a href="/post/1">Post 1</a></li>
    <li><a href="/post/2">Post 2</a></li>
    <li><a href="/post/3">Post 3</a></li>    
  </ul>
</body>
</html>